@model Department

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    

<partial name="PartialVIews/DeleteDetailsDepartmentPartialView" />
    <br />
    <br />
    <a asp-controller="Departments" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-controller="Departments" asp-action="Index" class="btn btn-light">Back To List</a>
</div>



