@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
	Layout = "~/Views/Shared/_AuthCheckPasswordLayout.cshtml";
}





<div class="main-agileinfo">

	<div class="agileits-top">

		<div class="text-center" asp-validation-summary="All"></div>

		<form asp-action="">

			<div>
				<p class="fs-6">Reset Password Link Has Been Sent To Your Phone , Please Check Your Phone</p>
			</div>
		

		</form>
	</div>
</div>

