@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
	Layout = "~/Views/Shared/_AuthForgetPasswordLayout.cshtml";
}





<div class="main-agileinfo">

	<div class="agileits-top">

		<div class="text-center" asp-validation-summary="All"></div>

		<form asp-action="SendResetPassword">

			<input class="text email" asp-for="Email" placeholder="Email" required="">

				<button type="submit" value="Reset Password">Reset Password</button>


		</form>
	</div>
</div>

