@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthResetPasswordLayout.cshtml";
}

<h1>ResetPassword</h1>



<div class="main-agileinfo">
	<div class="agileits-top">
		<div class="text-center" asp-validation-summary="All"></div>

		<form asp-action="ResetPassword">

			<input class="text " asp-for="Password" placeholder="Password" required="">
			<input class="text " asp-for="ConfirmPassword" placeholder="Confirm Password" required="">


			<input type="submit" value="Reset Password">


		</form>
	</div>
</div>