@model SingInViewModel
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_AuthSingInLayout.cshtml";
}



 <form asp-action="SignIn">
    <input class="text email" asp-for="Email" placeholder="Email" required="">
    <input class="text" asp-for="Password" placeholder="Password" required="">
    
        <input asp-for="RememberMe" type="checkbox" class="checkbox">
        <span>Remember Me</span>
    
        <p>Don't have an Account? <a asp-action="SignUp"> Register Now!</a></p>

	<button type="submit" >Login</button>
</form>
<div class="text-center">
	<a class="text-center" asp-action="ForgetPassword" >Forgot password ?</a>
</div>

